---
{% for service_array in services.items() %}
{% for service in [service_array[1]]  %}
{% for volume in service.volumes %}
  - { pvc_name: {{ volume.pvc_name }}, pvc_dir: {{ volume.pvc_dir }}, pvc_size: {{ volume.pvc_size }}, pvc_ns: {{ service.namespace }} }
{% endfor %}
{% endfor %}
{% endfor %}
