---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.pvc_name }}
spec:
  capacity:
    storage: {{ item.pvc_size }}
  storageClassName: "standard"
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ nfs_pvc_host }}
    path: "{{ item.pvc_dir }}"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ item.pvc_name }}
  namespace: {{ item.pvc_ns }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "standard"
  resources:
    requests:
      storage: {{ item.pvc_size }}